<style>
  .body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-bottom: 8px;
    line-height: 1.6;
  }

</style>

<div class="body">
  <h1>Hi, {{firstName}}</h1>

  <p>Confirm your sign up!</p>

  <p>Follow <a href="{{link}}">this link</a> to confirm your email</p>

  <p>Link: {{link}}</p>
</div>
